@media (max-width: 576px) {

    main,
    header {
        margin: 0px 20px;
    }

    .navbar {
        flex-direction: column;
    }

    .hero {
        flex-direction: column;
        padding: 50px 0px
    }

    .hero-content h2 {
        font-size: 2rem;
    }

    .hero-img {
        margin-top: 40px;
    }

    .brands-area {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;
        margin-top: 20px;
    }


    .product-grid-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .feature-area {
        margin-top: 50px;
    }

    .feature-container {
        flex-direction: column;
        gap: 16px;
    }

    .feature-content h2 {
        text-align: center;
        font-size: 2rem;
    }

    .feature-content p {
        text-align: center;
        font-size: 0.9rem;
    }

    .feature-btn {
        display: block;
        margin: auto;
        margin-bottom: 10px;
    }
}