@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.poppins-regular-fonts {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.commin-margin {
    margin: 80px 0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-width: 1440px;
    margin: 0 auto;
}


/* header styles */

.navbar {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 9px 0;
}
.logo h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: rgba(58, 58, 58, 1);
    cursor: pointer;
}
.nav-menu {
    display: flex;
    align-items: center;
    gap: 34px;
}
.nav-menu li {
    list-style: none;
}
.nav-menu li a {
    text-decoration: none;
    color: rgba(58, 58, 58, 1);
    font-size: 1rem;
    font-weight: 600;
}

/* styles hero section */

.hero {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.hero-content {
    max-width: 582px;
}
.hero-content h2 {
    font-size: 3.25rem;
    color: rgba(58, 58, 58, 1);
    font-weight: 700;
    margin-bottom: 16px;
}
.hero-content p {
    font-size: 1rem;
    color: rgba(58, 58, 58, 1);
    font-weight: 600;
}
.hero-button {
    background: rgba(224, 44, 109, 1);
    border: none;
    padding: 10px 24px;
    border-radius: 41px;
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    font-weight: 600;
    margin-top: 26px;
}

.hero-img {
    background-image: url("../images/Circledesign.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.hero-img img {
    width: 90%;
}
