@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-regular-fonts {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main,
header,
.footer-content {
    max-width: 1440px;
    margin: 0 auto;
}


/* header styles */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 0;
}

.logo h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: rgba(58, 58, 58, 1);
    cursor: pointer;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 34px;
}

.nav-menu li {
    list-style: none;
}

.nav-menu li a {
    text-decoration: none;
    color: rgba(58, 58, 58, 1);
    font-size: 1rem;
    font-weight: 600;
}

/* styles hero section */

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0px
}

.hero-content {
    max-width: 582px;
}

.hero-content h2 {
    font-size: 3.25rem;
    color: rgba(58, 58, 58, 1);
    font-weight: 700;
    margin-bottom: 16px;
}

.hero-content p {
    font-size: 1rem;
    color: rgba(58, 58, 58, 1);
    font-weight: 600;
}

.hero-button {
    background: rgba(224, 44, 109, 1);
    border: none;
    padding: 10px 24px;
    border-radius: 41px;
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    font-weight: 600;
    margin-top: 26px;
}

.hero-img {
    background-image: url("../images/Circledesign.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-img img {
    width: 90%;
}

.brands-area {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-top: 100px;
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;
}

hr {
    background: linear-gradient(135.29deg, rgba(192, 204, 218, 0.1), rgba(192, 204, 218, 0.6) 50%, rgba(192, 204, 218, 0.1) 100%);
}

/* product area styles  */
.product-area {
    margin-top: 100px;
}

.product-area>h2 {
    color: rgba(58, 58, 58, 1);
    font-weight: 600;
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
}

.product-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.product-card {
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    background: rgba(255, 255, 255, 1);
    border-radius: 5px;
    padding: 15px;
}

.product-card img {
    width: 100%;
}

.product-card>h2 {
    font-size: 1.56rem;
    margin: 16px 0px;
}

.product-price {
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.6px;
    font-weight: 400;
    margin-bottom: 5px;
}

.product-card>p {
    width: 196px;
    font-size: 0.9rem;
    color: rgba(94, 99, 102, 1);
}

.product-review {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 5px;
}

.review-item i {
    color: orange;
}

.see-more-btn {
    color: rgba(224, 44, 109, 0.87);
    margin-top: 50px;
    font-weight: 700;
    border: none;
    background-color: transparent;
}

.see-more {
    display: flex;
    justify-content: end;
}


/* feature-area  styles  */

.feature-area {
    margin-top: 100px;
}

.feature-container {
    display: flex;
    align-items: center;
    gap: 96px;
}

.feature-bg img {
    width: 100%;
}

.feature-content h2 {
    font-size: 2.37rem;
    color: rgba(10, 8, 38, 1);
    font-weight: 700;
    margin-bottom: 16px;
}

.feature-content p {
    color: rgba(108, 108, 108, 1);
    font-size: 1rem;
    font-weight: 700;
    line-height: 28px;
    width: 501px;
}

.feature-btn {
    background: rgba(224, 44, 109, 1);
    border: none;
    padding: 10px 24px;
    color: #fff;
    font-weight: 600;
    margin-top: 16px;
}

.footer-content {
    text-align: center;
    color: white;
    padding: 50px 0px;
}

.footer-content h2 {
    font-size: 1.6rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
}

.footer-content p {
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
}

.footer-area {
    background: rgba(10, 8, 38, 1);
}

.social-icon {
    margin-top: 17px;
}

.social-icon {
    display: flex;
    gap:4px;
    justify-content: center;
}

.icon {
    background: rgba(255, 255, 255, 0.1);
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}