@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.poppins-regular-fonts {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-width: 1440px;
    margin: 0 auto;
}


/* header styles */

.navbar {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 9px 0;
}
.logo h2 {
    font-size: 24px;
    font-weight: 700;
    color: rgba(58, 58, 58, 1);
    cursor: pointer;
}
.nav-menu {
    display: flex;
    align-items: center;
    gap: 34px;
}
.nav-menu li {
    list-style: none;
}
.nav-menu li a {
    text-decoration: none;
    color: rgba(58, 58, 58, 1);
    font-size: 16px;
    font-weight: 600;
}
